html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

h1{
  color: blueviolet;
  font-size: 100px;
}

.container {
border:  2px solid pink;
width: 600px;
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
}

.rows {
  border:  2px solid pink;
  height:200px;
  width: auto;
  display: flex;
}

.square {
  border:  2px solid pink;
  width:200px;
  height: auto;
  display: flex;
}
